<%-include('../partials/header') %>
<link rel="stylesheet" href="/css/forms.css">

</head>

<div class="auth-card">
    <h2>Create an Account</h2>
    <form action="/auth/register" method="POST">
      <div class="form-group">
        <input type="text" name="userName" placeholder="UserName" required />
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email Address" required />
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" required />
      </div>
      <button type="submit">Register</button>
    </form>
    <p class="auth-links">Already have an account? <a href="/login">Login here</a></p>
  </div>

  <%-include('../partials/footer') %>